:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a, button {
  cursor: pointer;
}

body {
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.app {
  width: 30%;
  margin-right: 2%;
  height: 100%;
  background-color: cornflowerblue;
}

.logs {
  display: flex;
  flex: 1;
}

.log {
  flex: 1;
  max-width: 30vw;
  overflow: auto;
  height: 100%;
  border: 1px solid black;
  padding: 1vh 0;
  font-size: 12px;
  font-family: monospace;
}

.log > * {
  padding: 1vh 2vw;
}

.log .msg {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
